<div class="auth">
  <form class="authentication-form" [formGroup]="authForm">
    <div class="flex flex-column gap-2">
      <label htmlFor="username">Email</label>
      <input pInputText id="username"  formControlName="email" placeholder="Email" aria-describedby="username-help"  />
      <!-- <small id="username-help">Enter your username to reset your password.</small> -->
    </div>
    <div class="flex flex-column gap-2">
      <label htmlFor="username">Password</label>
      <input pInputText id="username"  formControlName="password" placeholder="Password" aria-describedby="username-help" />
      <!-- <small id="username-help">Enter your username to reset your password.</small> -->
    </div>
    <div style="display: flex; gap: 8px;">
      <p-button (onClick)="onSubmit()" type="submit" styleClass="p-button-success">{{isSignin ? "SignIn" : "SignUp"}}</p-button>
      <p-button (onClick)="switchMode()" type="button"  styleClass="p-button-primary">{{isSignin ? "Switch to SignUp": "Switch to SignIn"}}</p-button>
    </div>
  </form>
</div>

