<div class="row">
  <div class="col-md-12">
    <form (submit)="onAddIngredient($event)">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" name="" class="form-control" id="name" #ingredientName>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="number" name="" id="amount" class="form-control" #ingredientAmount>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button class="btn btn-success" type="submit" >Add</button>
          <button class="btn btn-danger" type="button" [ngStyle]="{marginLeft:'5px'}">Add</button>
          <button class="btn btn-primary" type="button" [ngStyle]="{marginLeft:'5px'}">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
