.header{
  display: flex;
  align-items: center;
  padding-inline: 4rem;
  padding-block: 0.5rem;
  box-shadow: 0px 6px 6px -3px rgba(0,0,0,0.1);
  justify-content: space-between;
}
.header-right{
  display: flex;
}
nav{
  display: flex;
  gap: 12px;
}
nav li{
  list-style: none;
}
.menu{
  display: flex;
}
.menu li{
  list-style: none;
}
