<app-header></app-header>
<div class="app container">
  <div class="row">
    <div class="col-md-12">
      <!-- <button class="btn btn-primary" (click)="onClick()">Test CSD</button> -->
      <!-- <ng-template appUnless [unless]="testCSD"> -->
        <!-- <h1 *appUnless="testCSD">Custom Structural Directive</h1> -->
      <!-- </ng-template> -->
      <!-- <app-recipes></app-recipes>
      <app-shopping-lists></app-shopping-lists> -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
